html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 320px;
	background-color: #F9F9F9;
}

::-webkit-scrollbar {
	display: none;
}

.navbar-inverse {
	background-color: #111;
}

footer nav {
	float: left;
	padding: 30px;
	background-color: #111;
	color: #808080;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	background-color: #111;
	color: #808080;
}

p.copyright {
	clear: both;
	margin-left: 30px;
	padding-bottom: 30px;
}